<h1>Listing providers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Slug</th>
    <th>Description</th>
    <th>On ec2</th>
    <th>Status</th>
    <th>Platform</th>
    <th>Country</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @providers.each do |provider| %>
  <tr>
    <td><%= provider.name %></td>
    <td><%= provider.slug %></td>
    <td><%= provider.description %></td>
    <td><%= provider.on_ec2 %></td>
    <td><%= provider.status and provider.status.name %></td>
    <td><%= (provider.platforms.map {|p| p.name }).join ',' %></td>
    <td><%= (provider.country.map {|c| c.name }).join ',' %></td>
    <td><%= link_to 'Show', provider %></td>
    <td><%= link_to 'Edit', edit_provider_path(provider) %></td>
    <td><%= link_to 'Destroy', provider, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Provider', new_provider_path %>
