<a href="/<%= platform.slug %><% if country %>/<%= country['code']%>/<%end%>" title="<%=h platform.name %>" <% if @platform == platform %>class="active"<% end %>>
    <% if platform.image %><img src="<%= platform.image %>"/><% end %>
    <%=h platform.name %>
  </a>
