<% if @country!=nil %>
  <div id="current_country">
    <img src="/images/countries/<%= @country['code']%>.png" />
  </div>
<% end %>
<% if defined?(@local_platforms) and @local_platforms.length<1 %>
  <div class="message">None found, sorry! If we missed one, <a href="http://efficientcloud.wufoo.com/forms/s7x3a7/" onclick="window.open(this.href,  null, 'height=679, width=680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false" title="platformdirectory: paas providers">let us know!</a></div>
<% else %>
  <div class="nav">
    <a href="/list<% if defined? @country %>/<%= @country['code'] %><% end %>" <% if @platform == nil %>class="active"<% end %>>all</a>
    <%= render :partial => 'platform', :collection => defined?(@local_platforms)? @local_platforms : @platforms, :locals => {:country => @country} %>
  </div>
<% end %>

<%= render :partial => 'provider', :collection => @local_providers || @providers, :locals => {:country => @country} %>

<% @non_local_providers = @providers.reject{|x| (@local_providers || []).include? x} %>
<% if @non_local_providers.length>0 and defined?(@local_platforms) %>
<div id="worldwide">
    <img src="/images/countries/world.png" id="worldwide_icon"/>
    <div class="nav">
      <a href="/list">all</a>
      <%= render :partial => 'platform', :collection => @platforms, :locals => {:country => nil} %>
    </div>
  <%= render :partial => 'provider', :collection => @non_local_providers %>
</div>
<% end %>
