<% if defined?(@local_platforms) and @local_platforms.length<1 %>
  None found, sorry!
<% else %>
  <div id="nav">
    <a href="/list" <% if @platform == nil %>class="active"<% end %>>all</a>
    <%= render :partial => 'platform', :collection => defined?(@local_platforms)? @local_platforms : @platforms %>
  </div>
  <% if @country!=nil %>
    <div id="current_country">
      <%= @country['code'] %> / <%= @country['name'] %>
    </div>
  <% end %>
<% end %>

<%= render :partial => 'provider', :collection => @local_providers, :locals => {:country => @country} %>

<% if @local_platforms %>
<hr />
<%= render :partial => 'platform', :collection => @platforms %>
<% end %>
<%= render :partial => 'provider', :collection => @providers.reject{|x| (@local_providers || []).include? x} %>
