- unless @country.nil?
  #current_country
    %img{:src => "/images/countries/" + @country['code'] + ".png"}
    = @country['name']
- if defined?(@local_platforms) && @local_platforms.length < 1
  .message
    None found, sorry! If we missed one,
    %a{:href => "http://efficientcloud.wufoo.com/forms/s7x3a7/", :onclick=>"document.getElementById('feedback').style.display='block'; return false"} let us know!
- else
  .nav
    %a{:href => "/list" + (@country ? "/" + @country['code'] : ""), :class => (@platform.nil? ? "active" : "")} all
    = render :partial => 'platform', :collection => @local_platforms || @platforms, :locals => {:country => @country}

= render :partial => 'provider', :collection => @local_providers || @providers, :locals => {:country => @country}

- @non_local_providers = @providers.reject {|x| (@local_providers || []).include? x }
- if @non_local_providers.length>0 && @local_platforms
  .worldwide
    #worldwide_icon
      %img{:src => "/images/countries/world.png"}
      Worldwide
    .nav
      %a{:href => "/list"} all
      = render :partial => 'platform', :collection => @platforms, :locals => {:country => nil}
    = render :partial => 'provider', :collection => @non_local_providers