<% if defined?(@local_platforms) and @local_platforms.length<1 %>
  <div class="message">None found, sorry!</div>
<% else %>
  <div class="nav">
    <a href="/list<% if defined? @country %>/<%= @country['code'] %><% end %>" <% if @platform == nil %>class="active"<% end %>>all</a>
    <%= render :partial => 'platform', :collection => defined?(@local_platforms)? @local_platforms : @platforms %>
  </div>
  <% if @country!=nil %>
    <div id="current_country">
      <%= @country['code'] %> / <%= @country['name'] %>
    </div>
  <% end %>
<% end %>

<%= render :partial => 'provider', :collection => @local_providers || @providers, :locals => {:country => @country} %>

<% @non_local_providers = @providers.reject{|x| (@local_providers || []).include? x} %>
<% if @non_local_providers.length>0 and defined?(@local_platforms) %>
  <hr />
    <div class="nav">
      <a href="/list">all</a>
      <%= render :partial => 'platform', :collection => @platforms %>
    </div>
  <%= render :partial => 'provider', :collection => @non_local_providers %>
<% end %>
